﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Mas0.master" AutoEventWireup="true" CodeFile="comed.aspx.cs" Inherits="comed" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table style="width: 100%; height: 168px;">
        <tr>
            <td style="width: 16px">&nbsp;</td>
            <td style="width: 16px">&nbsp;</td>
            <td>
                <br />
                <asp:Label ID="Label6" runat="server"></asp:Label>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td style="height: 16px; width: 16px">&nbsp;</td>
            <td style="height: 16px; width: 16px">&nbsp;</td>
            <td style="height: 16px">
                <asp:Label ID="Label4" runat="server"></asp:Label>
                <br />
            <asp:Label ID="Label5" runat="server" Font-Bold="True" Font-Size="Large" ForeColor="Red"></asp:Label>
            </td>
            <td style="height: 16px">
                <asp:Label ID="Label1" runat="server" Text="&#1585;&#1602;&#1605; &#1575;&#1604;&#1573;&#1588;&#1575;&#1585;&#1610;"></asp:Label>
                <br />
                <asp:TextBox ID="TextBox1" runat="server" OnTextChanged="TextBox1_TextChanged" AutoPostBack="True"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td style="height: 16px; width: 16px">&nbsp;</td>
            <td style="height: 16px; width: 16px">&nbsp;</td>
            <td rowspan="7">
                <textarea id="TextArea1" name="TextArea1" style="width: 577px; height: 355px; margin-left: 8px; margin-top: 0px; margin-bottom: 0px;"></textarea></td>
            <td style="height: 16px">
                <asp:Button ID="Button3" runat="server" Height="26px" OnClick="Button3_Click" Text="عرض البيانات" Width="129px" />
            </td>
        </tr>
        <tr>
            <td style="width: 16px">
                </td>
            <td style="width: 16px">
                </td>
            <td>
                <asp:Label ID="Label2" runat="server" Text="&#1575;&#1604;&#1610;"></asp:Label>
                <br />
                <asp:DropDownList ID="DropDownList2" runat="server" Height="18px" Width="148px" >
                </asp:DropDownList>
            </td>
        </tr>
        <tr>
            <td rowspan="3" style="width: 16px">
                </td>
            <td rowspan="3" style="width: 16px">
                </td>
            <td>
                <br />
            </td>
        </tr>
        <tr>
            <td style="height: 8px">
                &nbsp;</td>
        </tr>
        <tr>
            <td style="height: 4px">
                <asp:Label ID="Label3" runat="server" Text="&#1606;&#1587;&#1582;&#1577; &#1575;&#1604;&#1610;"></asp:Label>
                <asp:CheckBoxList ID="CheckBoxList1" runat="server">
                </asp:CheckBoxList>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="width: 16px">
                </td>
            <td rowspan="2" style="width: 16px">
                </td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                <asp:Button ID="Button4" runat="server" OnClick="Button4_Click" Text="Button" />
            </td>
        </tr>
        <tr>
            <td style="width: 16px; height: 24px;">
                </td>
            <td style="width: 16px; height: 24px;">
                </td>
            <td style="height: 24px">
                </td>
            <td style="height: 24px">
                <asp:Button ID="Button2" runat="server" Text="&#1575;&#1585;&#1587;&#1575;&#1604;"  style="height: 26px" OnClick="Button2_Click" />
                <asp:Button ID="Button1"  runat="server" Text="&#1593;&#1585;&#1590;" style="width: 41px; height: 26px;" OnClick="Button1_Click" />
            </td>
        </tr>
        <tr>
            <td style="width: 16px">
                </td>
            <td style="width: 16px">
                </td>
            <td>
                </td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td style="width: 16px">&nbsp;</td>
            <td style="width: 16px">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 16px">&nbsp;</td>
            <td style="width: 16px">&nbsp;</td>
            <td>&nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
    </table>
</asp:Content>

