﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Mas0.master" AutoEventWireup="true" CodeFile="Nmessage.aspx.cs" Inherits="Nmessage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table style="width: 100%; height: 168px;">
    <tr>
        <td>&nbsp;</td>
        <td style="width: 636px">
            <br />
            <asp:Label ID="Label6" runat="server"></asp:Label>
        </td>
        <td>
            ملاحظات الاستخدام</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td style="width: 636px">
            <asp:Label ID="Label4" runat="server"></asp:Label>
            <br />
            <asp:Label ID="Label5" runat="server" Font-Bold="True" Font-Size="Large" ForeColor="Red"></asp:Label>
        </td>
        <td>
            <asp:Label ID="Label1" runat="server" Text="&#1585;&#1602;&#1605; &#1575;&#1604;&#1573;&#1588;&#1575;&#1585;&#1610;"></asp:Label>
            <br />
            <asp:TextBox ID="TextBox1" runat="server" OnTextChanged="TextBox1_TextChanged" AutoPostBack="True"></asp:TextBox>
        </td>
    </tr>
    <tr>
        <td colspan="2" rowspan="9">

            <textarea id="TextArea1" name="TextArea1" style="width: 639px; height: 359px" cols="20"></textarea></td>

        <td style="height: 22px">
            <asp:Label ID="Label2" runat="server" Text="&#1575;&#1604;&#1610;"></asp:Label>
            <br />
            <asp:DropDownList ID="DropDownList2" runat="server" Height="18px" Width="148px" >
            </asp:DropDownList>
            <br />
        </td>
    </tr>
    <tr>
        <td style="height: 49px">
            <asp:CheckBox ID="CheckBox1" runat="server" Text=" &#1589;&#1575;&#1583;&#1585;" AutoPostBack="True" OnCheckedChanged="CheckBox1_CheckedChanged" />
            <br />
            <asp:TextBox ID="TextBox2" runat="server" Enabled="False" AutoPostBack="True" OnTextChanged="TextBox2_TextChanged"></asp:TextBox>
        </td>
    </tr>
    <tr>
        <td>
            <asp:Label ID="Label3" runat="server" Text="&#1606;&#1587;&#1582;&#1577; &#1575;&#1604;&#1610;"></asp:Label>
            <br />
            <asp:CheckBoxList ID="CheckBoxList1" runat="server">
            </asp:CheckBoxList>
        </td>
    </tr>
    <tr>
        <td style="height: 13px">
            <asp:TextBox ID="TextBox3" runat="server" style="margin-top: 0px; margin-bottom: 0px"></asp:TextBox>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <br />
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;</td>
    </tr>
    <tr>
        <td>
            &nbsp;</td>
    </tr>
    <tr>
        <td>
            <asp:Button ID="Button1"  runat="server" OnClick="Button1_Click" Text="&#1593;&#1585;&#1590;" style="width: 41px" />
            <asp:Button ID="Button2" runat="server" Text="&#1575;&#1585;&#1587;&#1575;&#1604;" OnClick="Button2_Click" style="height: 26px" />
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td style="width: 636px">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
</asp:Content>

