﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Mas0.master" AutoEventWireup="true" CodeFile="sender.aspx.cs" Inherits="sender" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
       <table style="width:100%;">
        <tr>
            <td></td>
            <td colspan="2">
                <asp:Label ID="Label2" runat="server"></asp:Label>
                </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>

                
            </td>
            <td colspan="2" rowspan="3">
                <asp:GridView ID="GridView1" runat="server" Height="76px" Width="639px" AutoGenerateColumns="False">
                    <Columns>
                        <asp:BoundField DataField="number_b" HeaderText="&#1585;&#1602;&#1605; &#1575;&#1604;&#1573;&#1588;&#1575;&#1585;&#1610;" />
                        <asp:BoundField DataField="name_d" HeaderText="&#1605;&#1606; &#1602;&#1587;&#1605;" />
                        <asp:BoundField DataField="date_b" HeaderText="&#1578;&#1575;&#1585;&#1610;&#1582;" />

                      <asp:TemplateField HeaderText="&#1601;&#1578;&#1581; &#1605;&#1604;&#1601;"> 
                          <ItemTemplate>

                           <asp:LinkButton ID ="Butopen" text="open"  runat="server"  CommandArgument='<% # Eval("path_pdf_b") %>' OnClick="Butopen_Click"></asp:LinkButton>

                          </ItemTemplate>

                      </asp:TemplateField>

                                              <asp:TemplateField> 
                          <ItemTemplate>

                   
                           <asp:LinkButton ID ="LinkButton1" text="commend"  runat="server"  CommandArgument='<% # Eval("id_b") %>' OnClick="LinkButton1_Click"></asp:LinkButton>
                          </ItemTemplate>

                      </asp:TemplateField>
         
                    </Columns>
                </asp:GridView>

                
                <br />

                
            </td>
            <td>
                <asp:Button ID="Button1" runat="server" Text="&#1585;&#1587;&#1575;&#1574;&#1604; &#1605;&#1585;&#1587;&#1604;&#1577;" OnClick="Button1_Click" Width="158px" />
                <asp:Button ID="Button2" runat="server" Text="&#1585;&#1587;&#1575;&#1574;&#1604; &#1610;&#1605;&#1603;&#1606; &#1575;&#1591;&#1604;&#1575;&#1593; &#1593;&#1604;&#1610;&#1607;&#1575;" OnClick="Button2_Click" Width="156px" Height="26px" />
                <asp:Button ID="Button3" runat="server" Text="Button" Width="154px" Height="26px" />
            </td>
        </tr>
        <tr>
            <td>

                
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td style="width: 632px">
               
               
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</asp:Content>

